<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="icon" href="./images/favicon.png" type="image/png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Robin Blue Art</title>
  </head>
  <body class="container-fluid">
    <div class="header">
      <div class="col logo">
        <p class="name-surname"><span>Robin</span> Blue</p>
        <!-- <p class="job-title">Full-Stack Developer</p> -->
      </div>

      <div class="nav-bar">
        <input type="checkbox" class="menu-btn" id="menu-btn" />
        <label for="menu-btn" class="menu-icon">
          <span class="menu-icon__line"></span>
        </label>

        <ul class="nav-links">
          <li class="nav-link"><a href="index.html">Home</a></li>
          <li class="nav-link"><a href="index.html">Home</a></li>
          <li class="nav-link"><a href="#about">Character Design</a></li>
          <li class="nav-link"><a href="#Portfolio">Story Board</a></li>
          <li class="nav-link"><a href="#Portfolio">illustration</a></li>
          <li class="nav-link"><a href="#Contact">Contact</a></li>
        </ul>
      </div>
    </div>