


.navbar {
  font-family: "Annie Use Your Telescope", cursive;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100vw;
  padding: 0 10vw;

  ul {
    list-style: none;
    
    li {
        
      a {
        text-decoration: none;
        margin-bottom: 0.2rem;
        padding: 1rem 1rem;
        font-size: 2rem;
        color: #777777;
        font-weight: bold;

        a:hover {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
